<nav class="navbar navbar-dark fixed-top navbar-expand-md">
	<div class="container">
		<a href="/" style="text-decoration: none">
			<img src="/images/logo-05.png" style="width: 30px;">
			<span class="navbar__logo-text">tomasvajda.cz</span>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="#sluzby">Rizikové kácení stromů</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#cenik">Ceník</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#kontakt">Kontakt</a>
				</li>
			</ul>
		</div>
	</div>
</nav>