{{ define "main" }}

<section id="hp__banner" class="bar relative-positioned">
    <div class="container">

        <div class="banner__info">
            <h1 class="text-center" style="margin-bottom: 15px;">Vyškové práce</h1>
            <div class="banner__info-contact">
                <div class="homepage__header-contact"><i class="fas fa-mobile-alt benefity__icon"
                        style="padding-right: 20px"></i><a href="tel:{{ .Site.Params.phone }}"
                        style="letter-spacing: 1px;color: white">{{ .Site.Params.phone }}</a>
                </div>
                <div class="homepage__header-contact"><i class="fas fa-envelope benefity__icon"
                        style="padding-right: 15px"></i>{{ .Site.Params.email }}</div>

            </div>

        </div>
    </div>
</section>

<section id="hp__service" class="bar relative-positioned">
    <div class="container text-center">
        <h2 class="hp__h2-title sample-heading">Provádím tyto práce ve výškách</h2>
        <div class="row">
            <div class="col-sm-12 col-md-4 px-4">
                <div class="hp__service-box">

                    <a href="/rizikove-kaceni-stromu/">
                        <img src="/images/service-cut-2.jpg" class="img-fluid img-fluid-service-homepage"></a>
                    <a href="/rizikove-kaceni-stromu/">
                        <h3 class="hp__h3-title text-left">Rizikové kácení stromů</h3>
                    </a>

                    <div class="text-left">Even though using "lorem ipsum" often arouses curiosity due to its
                        resemblance to classical Latin, it is not intended to have meaning. Where text is visible in a
                        document, people</div>

                    <a href="/rizikove-kaceni-stromu/">
                        <div class="hp__service-button">číst více ></div>
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 px-4">
                <div class="hp__service-box">
                    <a href="/rizikove-kaceni-stromu/"><img src="/images/natirani-stozaru.jpg"
                            class="img-fluid img-fluid-service-homepage"></a>
                    <a href="/rizikove-kaceni-stromu/">
                        <h3 class="hp__h3-title text-left">Nátěry ve výškách</h3>
                    </a>
                    <div class="text-left">Even though using "lorem ipsum" often arouses curiosity due to its
                        resemblance to classical Latin, it is not intended to have meaning. Where text is visible in a
                        document, people</div>
                    <a href="/natirani-ve-vyskach/">
                        <div class="hp__service-button">číst více ></div>
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 px-4">
                <div class="hp__service-box">
                    <a href="/rizikove-kaceni-stromu/"><img src="/images/myti-oken-vyskovych-budov.jpg"
                            class="img-fluid img-fluid-service-homepage"></a>
                    <a href="/rizikove-kaceni-stromu/">
                        <h3 class="hp__h3-title text-left">Mytí oken ve výškách</h3>
                    </a>
                    <div class="text-left">Even though using "lorem ipsum" often arouses curiosity due to its
                        resemblance to classical Latin, it is not intended to have meaning. Where text is visible in a
                        document, people</div>
                    <a href="/myti-oken/">
                        <div class="hp__service-button">číst více ></div>
                    </a>

                </div>
            </div>
        </div>

    </div>
</section>

<section id="hp__order">
        <div class="container text-center" style="padding-top: 60px; padding-bottom: 20px">
            <div class="row">
                <div class="col-md-4 col-xs-12" style="margin-bottom: 45px">
                    <div class="hp__order-box">
                        <!--<i class="fas fa-phone benefity__icon fa-3x"></i>-->
                        <h4 class="homepage__contact-step-title"><b>1.</b> Kontaktujte nás</h4>
                        <img src="/images/call-me.jpg" class="img-fluid" style="border-radius: 50%; max-width: 150px; margin-top: 12px">
                        <p class="benefity__desc" style="margin-top: 20px">
                            Napište nám email na <b>{{ .Site.Params.email }}</b> nebo zavolejte <a href="tel:{{ .Site.Params.phone }}" style="color: #09365b; font-weight: bold">{{ .Site.Params.phone }}</a> v Po-Pá 8-18 hod.
                        </p>
                    </div>
                </div>
    
                <div class="col-md-4 col-xs-12" style="margin-bottom: 45px">
                    <div class="hp__order-box">
                        <!--<i class="fas fa-envelope benefity__icon fa-3x"></i>-->
                        <h4 class="homepage__contact-step-title" style="letter-spacing: 1px;"><b>2.</b> Dohodneme cenu</h4>
                        <img src="/images/dangerous-tree.jpg" class="img-fluid" style="border-radius: 50%; max-width: 150px; margin-top: 12px">
                        <p class="benefity__desc" style="margin-top: 20px">Přijedu, zhodnotím situaci a řeknu vám cenu. Případně lze přibližnou cenu odhadnout přes telefon z vašeho popisu či fotek.</p>
                    </div>
                </div>
    
                <div class="col-md-4 col-xs-12" style="margin-bottom: 45px">
                    <div class="hp__order-box">
                        <!--<i class="fas fa-envelope benefity__icon fa-3x"></i>-->
                        <h4 class="homepage__contact-step-title" style="letter-spacing: 1px;"><b>3.</b> Provedu práci</h4>
                        <img src="/images/high-cut-small.jpg" class="img-fluid" style="border-radius: 50%; max-width: 150px; margin-top: 12px">
                        <p class="benefity__desc" style="margin-top: 20px">Příjedu a provedu práci dle dohodnutých podmínek. Platba v hotovosti až po provední práce. U firem lze domluvit platbu převodem.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section id="hp__reffer">
    <div class="container text-center">
        <h2 class="hp__h2-title sample-heading">Pro koho jsem pracoval</h2>
        <div class="row">
            <div class="col-sm-12 col-md-4 px-4">
                <div class="hp__reffer-box">
                    Kácení vysokých stromů v přímém kontaktu se správní budovou zámku
                </div>
                <div class="hp__reffer-name">- Státní zámek Hradec nad Moravicí</div>
            </div>
            <div class="col-sm-12 col-md-4 px-4">
                <div class="hp__reffer-box">
                    Kácení vysokých stromů v přímém kontaktu se správní budovou zámku
                </div>
                <div class="hp__reffer-name">- Státní zámek Hradec nad Moravicí</div>
            </div>
            <div class="col-sm-12 col-md-4 px-4">
                <div class="hp__reffer-box">
                    Kácení vysokých stromů v přímém kontaktu se správní budovou zámku
                </div>
                <div class="hp__reffer-name">- Státní zámek Hradec nad Moravicí</div>
            </div>

        </div>
    </div>
</section>

{{- end }}